## Welcome to Day 4 Hands On Notebook

Objective:
- Conditionals
- Loops
- Functions

### Part 1: Conditionals

Conditionals is the classic 'If...Else...' feature that we often find in Excel / Google Sheet. It basically gives us the opportunity to write a rule-based system that does things differently given different circumstances.

In [1]:
x = 4
y = 5

In [2]:
if x > y:
    print('X is greater than y.')
else:
    print('X is not greater than y.')

X is not greater than y.

If we want to give more conditions, we should use `elif` between the `if` and the final `else`. Please pay attention to the order of your conditions! Python will read from TOP to BOTTOM. If the condition for a conditional that is placed FIRST has been met, then Python will NOT read the rest! 

Let us show an example of this case:

"Seorang guru ingin membuat sebuah sistem yang dapat memberikan 'rating grade' siswa secara otomatis tergantung nilai yang didapatkan siswa/i tersebut. 

- Jika siswa mendapatkan nilai >= 90, maka grade-nya adalah A
- Jika siswa mendapatkan nilai 80 - 89, maka grade-nya adalah B
- Jika siswa mendapatkan nilai 70 - 79, maka grade-nya adalah C
- Jika siswa mendapatkan nilai 60 - 69, maka grade-nya adalah D
- Di bawah 60, maka grade F (Fail)

Bagaimana penulis `if..elif..else..` untuk membantu guru ini?"

In [3]:
nilai_siswa = 80

if nilai_siswa >= 90:
    print('Grade A')
elif nilai_siswa > 79:
    print('Grade B')
elif nilai_siswa > 69:
    print('Grade C')
elif nilai_siswa > 59:
    print('Grade D')
else:
    print('Grade F')

Grade B

Bandingkan dengan...

In [4]:
nilai_siswa = 80

if nilai_siswa > 59:
    print('Grade D')
elif nilai_siswa > 69:
    print('Grade C')
elif nilai_siswa > 79:
    print('Grade B')
elif nilai_siswa > 89:
    print('Grade A')
else:
    print('Grade F')

Grade D

Why a score of 80 gets a D? This is because Python reads `if nilai_siswa > 59` first, and yes, 80 is indeed > 59, so it will just output 'Grade D' and stop reading everything altogether.

#### Nested If Else

We can also make 'nested' conditionals, where inside a condition, there lies another conditions. 

Take a look at this example:

"Guru di soal sebelumnya menemukan fakta bahwa beberapa siswa nyontek di ujian akhir tersebut. Jika ketahuan menyontek, maka apapun nilai yang mereka dapatkan tidak lagi berarti - mereka akan langsung mendapatkan hukuman. Jika ada murid yang menyontek, maka Grade nya automatis akan menjadi F"

In [5]:
nilai_siswa = 80
nyontek = True

if nilai_siswa >= 90:
    if nyontek == True:
        print('Grade F')
    else:
        print('Grade A')
elif nilai_siswa > 79:
    if nyontek == True:
        print('Grade F')
    else:
        print('Grade B')
elif nilai_siswa > 69:
    if nyontek == True:
        print('Grade F')
    else:
        print('Grade C')
elif nilai_siswa > 59:
    if nyontek == True:
        print('Grade F')
    else:
        print('Grade D')
else:
    print('Grade F')

Grade F

Namun solusi di atas belum optimal. Jika ingin menulis code yang lebih ringkas dengan hasil yang sama, lakukan dengan cara di bawah ini:

In [6]:
nilai_siswa = 80
nyontek = True

if nyontek == True:
    print('Grade F')
else:
    if nilai_siswa >= 90:
        print('Grade A')
    elif nilai_siswa > 79:
        print('Grade B')
    elif nilai_siswa > 69:
        print('Grade C')
    elif nilai_siswa > 59:
        print('Grade D')
    else:
        print('Grade F')

Grade F

In [7]:
nilai_siswa = 80
nyontek = False

if nyontek == True:
    print('Grade F')
else:
    if nilai_siswa >= 90:
        print('Grade A')
    elif nilai_siswa > 79:
        print('Grade B')
    elif nilai_siswa > 69:
        print('Grade C')
    elif nilai_siswa > 59:
        print('Grade D')
    else:
        print('Grade F')

Grade B

### Part 2: Loops

Loops basically repeat a set of code until a certain condition is met, or until we run out of things to iterate.

#### Part 2.1. For Loops

In [8]:
name = ['Andy', 'Brad', 'Charlie', 'Diana', 'Edgar']

for x in name:
    print(x)

Andy
Brad
Charlie
Diana
Edgar

The loop above basically means:

"Each member of the list `name` is represented by the variable `x`. Then, for each member, starting from the first one to the last one, we print them out"

The representation can be arbitrary!

In [9]:
name = ['Andy', 'Brad', 'Charlie', 'Diana', 'Edgar']

for y in name:
    print(y)

Andy
Brad
Charlie
Diana
Edgar

In [10]:
name = ['Andy', 'Brad', 'Charlie', 'Diana', 'Edgar']

for _a in name:
    print(_a)

Andy
Brad
Charlie
Diana
Edgar

Another type of `for` loop is when we specify "how many times" we want to iterate through a certain line of code.

In [11]:
berapa_kali = 5
angka_kelipatan = 3

for i in range(5):
    print(angka_kelipatan*(i+1))

3
6
9
12
15

We usually use `range` to help us set a limit on how many times we want to loop.

In [12]:
for x in range(5):
    print(x)

0
1
2
3
4

`range` always starts at 0, and will +1 for a certain number of times (depends on the number we write in the `range` function)

#### Part 2.2. While Loops

While Loops are loops that keeps on going until a certain condition is met. That condition is usually in the form of a logic test.

In [13]:
angka = 21
while(angka < 50):
    print(angka)
    angka = angka + 10

21
31
41

Angka starts at 21. 

Then, we write a condition: `angka < 50`

Until `angka < 50` is `False`, we print `angka` and keep adding 10 into it. When `angka` is 51 (after 41 + 10), it is no longer `< 50`, so the loop automatically ***stops***

#### Part 2.3. Breaking a loop

Kita bisa menambahkan beberapa kode di bawah ini untuk "melongkap" atau bahkan "memberhentikan" suatu loop sesuai dengan kondisi tertentu.

In [14]:
### Modulo Operator
### Memberi tahu siswa pembagian dua buah bilangan
### Contoh: 6 bagi 4 sisanya berapa?

6 % 4

2

For the number of 0 to 9, if a number is even (divisible by 2), then don't do anything. Else, print them

In [15]:
for i in range(10):
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3
5
7
9

The above code can be simplified with the usage of `continue`.

In [16]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

`continue` will skip reading any code below the line, and just goes on to the next loop.

However, the above loop can even be simplified even further

In [17]:
for i in range(10):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

Rather than specifying to NOT DO ANYTHING if the number is an even number, just do the opposite and just order the loop to print the number if it is not divisible by 2

#### Part 2.4. Looping Two Things at Once

Soal cerita:

"Diberikan dua buah list berisi nama dan nilai siswa. Print nama dan nilai siswa tersebut jika memiliki nilai di atas 70. Jika siswa tersebut memiliki nilai di bawah 70, skip."

In [18]:
daftar_siswa = ['Aldo', 'Brian', 'Cindy', 'Deni', 'Erika']
daftar_nilai = [100, 80, 50, 50, 90]

In [19]:
for nama, nilai in zip(daftar_siswa, daftar_nilai):
    if nilai > 70:
        print(nama, nilai)

Aldo 100
Brian 80
Erika 90

### Part 3: Functions

Functions are used to "wrap" some codes so you don't have to repeat the same thing over and over again. There are multiple built-in functions in Python already, like `len` and `sum`

In [20]:
list_example = [1,2,3,4,5]
len(list_example)

5

Basically, `len` measures how many members are there in a list, array, etc, and outputs the amount of it.

In [21]:
sum(list_example)

15

We can write our own function too!

In [22]:
def auto_grade(nilai, nyontek):
    if nyontek == True:
        print('Grade F')
    else:
        if nilai_siswa >= 90:
            print('Grade A')
        elif nilai_siswa > 79:
            print('Grade B')
        elif nilai_siswa > 69:
            print('Grade C')
        elif nilai_siswa > 59:
            print('Grade D')
        else:
            print('Grade F')

In [23]:
auto_grade(nilai = 80, nyontek = False)

Grade B

In [24]:
auto_grade(nilai = 75, nyontek = True)

Grade F

Using that, we don't have to copy paste the conditionals each time we want to calculate the grade of a student.

However, that function just `prints out` or "DISPLAYS" the answer. It did NOT store the answer anywhere. For example:

In [25]:
import pandas as pd

df = pd.DataFrame({
    'nama':['Aldo', 'Brian', 'Cindy', 'Deni', 'Erika'],
    'nilai':[95,85,75,65,89],
    'nyontek':[False, True, False, True, False]
})

df

    nama  nilai  nyontek
0   Aldo     95    False
1  Brian     85     True
2  Cindy     75    False
3   Deni     65     True
4  Erika     89    False

In [26]:
df['grade'] = df.apply(lambda x: auto_grade(x['nilai'], x['nyontek']), axis = 1)

Grade B
Grade F
Grade B
Grade F
Grade B

Okay, looks like we did output the Grades correctly.

In [27]:
df

    nama  nilai  nyontek grade
0   Aldo     95    False  None
1  Brian     85     True  None
2  Cindy     75    False  None
3   Deni     65     True  None
4  Erika     89    False  None

Wait, where are the grades?? Again, this is because we only `print` the value, not storing/saving them

In [28]:
def auto_grade(nilai, nyontek):
    if nyontek == True:
        return 'Grade F'
    else:
        if nilai_siswa >= 90:
            return 'Grade A'
        elif nilai_siswa > 79:
            return 'Grade B'
        elif nilai_siswa > 69:
            return 'Grade C'
        elif nilai_siswa > 59:
            return 'Grade D'
        else:
            return 'Grade F'

In [29]:
df['grade'] = df.apply(lambda x: auto_grade(x['nilai'], x['nyontek']), axis = 1)

In [30]:
df

    nama  nilai  nyontek    grade
0   Aldo     95    False  Grade B
1  Brian     85     True  Grade F
2  Cindy     75    False  Grade B
3   Deni     65     True  Grade F
4  Erika     89    False  Grade B

There we go. Remember! Returning is different from printing out your answer.

#### Part 3.1. Defining your input data types to avoid errors.

We know that in our original function, the first input is an integer, the second input is a bool.
What if that rule is broken accidentally?

In [31]:
df['grade_2'] = df.apply(lambda x: auto_grade(x['nama'], x['nilai']), axis = 1)

In this, the first part should be `nilai` but we input `nama`. The second input should be `nyontek` and filled with `True/False` values only, but now we put in the column `nilai`.

In [32]:
df

    nama  nilai  nyontek    grade  grade_2
0   Aldo     95    False  Grade B  Grade B
1  Brian     85     True  Grade F  Grade B
2  Cindy     75    False  Grade B  Grade B
3   Deni     65     True  Grade F  Grade B
4  Erika     89    False  Grade B  Grade B

To our surprise, the function did NOT return an error and just fills everything with...Grade B. This is concerning. Because people may do mistake and not realize it!

To circumvent this, we install a new package called `typeguard`, and write `@typechecked` on top of our function to get it checked. Then, we should write our desired type on the function definition, like this!

In [33]:
from typeguard import typechecked

@typechecked
def auto_grade(nilai: int, nyontek: bool) -> str:
    if nyontek == True:
        return 'Grade F'
    else:
        if nilai_siswa >= 90:
            return 'Grade A'
        elif nilai_siswa > 79:
            return 'Grade B'
        elif nilai_siswa > 69:
            return 'Grade C'
        elif nilai_siswa > 59:
            return 'Grade D'
        else:
            return 'Grade F'

In [34]:
df['grade_2'] = df.apply(lambda x: auto_grade(x['nama'], x['nilai']), axis = 1)

TypeError: type of argument "nilai" must be int; got str instead

If the input type does not match the correct data type, it will return an error.

But what if the input of `nilai` can be `float` too?

In [35]:
auto_grade(80.5, True)

TypeError: type of argument "nilai" must be int; got float instead

Oh no, since we described it as `int`, receiving a `float` number breaks the rule and returns an error. How do we say that our function should ideally receive `int` and `float` as the `nilai` input?

In [36]:
from typeguard import typechecked
from typing import Union

@typechecked
def auto_grade(nilai: Union[int, float], nyontek: bool) -> str:
    if nyontek == True:
        return 'Grade F'
    else:
        if nilai_siswa >= 90:
            return 'Grade A'
        elif nilai_siswa > 79:
            return 'Grade B'
        elif nilai_siswa > 69:
            return 'Grade C'
        elif nilai_siswa > 59:
            return 'Grade D'
        else:
            return 'Grade F'

In [37]:
auto_grade(88.5, True)

'Grade F'

In [38]:
auto_grade(80, False)

'Grade B'

In [39]:
auto_grade('80', False)

TypeError: type of argument "nilai" must be one of (int, float); got str instead

There we go. By using these type-checking, we ensure that our function performs as intended, and we ensure that the function first checks the input type before executing anything.

Should you do this everytime? No, if your problem is simple enough and you know for sure that there won't be any error caused by type errors, then you don't need to type check. This is actually some more intermediate stuffs and not much data scientists use these principles.

#### Bonus: Calling Another Function inside a Function

In [40]:
def luas(panjang, lebar):
    return panjang * lebar

def keliling(panjang, lebar):
    return (2*(panjang + lebar))

def hitung_luas_keliling(panjang, lebar):
    print('Luas persegi panjang ini adalah ',luas(panjang, lebar))
    print('Keliling persegi panjang ini adalah ', keliling(panjang, lebar))

In [41]:
hitung_luas_keliling(5, 3)

Luas persegi panjang ini adalah  15
Keliling persegi panjang ini adalah  16